#container{
    width: 100vw;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* align-items: center; */
    /* justify-content: center; */
}
.imgsize{
    width: 48%;
    height: 48%;

}